body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/* Header/Blog Title */
.header {
  background-color: #2b3b54;
  width: 100%;
  height: 200px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner {
    background-color: #141729 !important;
    width: 100%;
    height: 55px;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */

.onlinestatus {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  padding: 1rem;
  margin-bottom: 30px;
  margin-top: 30px;
}


.column {
  max-width: 850px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.container {
  width: 90%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.p {
  color: grey;
}

.box{
  border-radius: 10px;
  text-align: center;
  padding: 1px;
  position: relative;
  vertical-align: middle;
}

.red{
	background:#f00;
}
.green{
	background:#1fb650;
}

.tag{
  color: yellow;
}
